@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}
   
<div class="link">

    <h2> Seu dados sr.@Model.Nome</h2>

    <button id="cad">

        <a class="nav-link text-dark" href="/Home/Privacy">Pagina </a>
    </button>        
 </div>



